p{
    color: black;
    font-size: 30px;
    background-color: whitesmoke;
}

h1{
    color: blue;
    font-size: 30px;
}

.classe{
    color: black;
    font-size: 40px;
    background-color: red;
}

#titulo{
    color: whitesmoke;
    font-size: 50px;
    background-color: black;
}

#botao{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: blueviolet;
    color:white;
    cursor: pointer;
}